
/* =================== */
/* Imports Google Fonts */
/* =================== */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&family=Chango&display=swap');


/* =================== */
/* Tailwind importation */
/*     CSS native       */
/* =================== */
@import 'tailwindcss';



/* =================== */
/* @sources & @theme  */
/*   éventuels pb de  */
/*   compatibilité    */
/* =================== */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* =================== */
/*  Création de class */
/* =================== */
@theme {
    --font-bellefair: 'Bellefair', sans-serif;
    --font-size: 100px;
    --font-barlow: 'Barlow Condensed Regular', sans-serif;
    --color-line: oklch(38.3% 0.05 248);
    --color-gray-25: rgba(255, 255, 255, 0.5);
    --color-white-25: hsl(0 0% 100%);
    --breakpoint-xs: 429px;
    /* Class de tracking personnalisée */
    --tracking-1: 0.169rem; /* 2.7px */
    --tracking-2: 0.148rem; /* 2.36px */
    --tracking-3: 0.211rem; /* 3.38px */
    --tracking-4: 0.295rem; /* 4.72px */  
}


/* =================== */
/* Variables CSS custom */
/* =================== */
:root {
    /* Taille titre */
    --titre1-desktop: 9.37rem;
    --titre2-desktop: 6.25rem;
    --titre3-desktop: 3.5rem;
    --titre4-desktop: 2rem;
    --titre5-desktop: 1.75rem;
    --titre1-tablet: 6.56rem;
    --titre2-tablet: 5rem;
    --titre3-tablet: 2.5rem;
    --titre4-tablet: 1.5rem;
    --titre5-tablet: 1.25rem;
    --titre1-mobile: 4.75rem;
    --titre2-mobile: 3.5rem;
    --titre3-mobile: 1.5rem;
    --titre4-mobile: 1rem;
    --titre5-mobile: 1rem;
    /* Taille sous-titre */
    --explorer-desktop: 2rem;
    --explorer-mobile: 1.25rem;
    /* Taille sous-titre */
    --subtitle1-desktop: 1.75rem;
    --subtitle2-tablet: 1rem;
    --subtitle3-mobile: 0.875rem;
    /* Taille sous-nav */
    --subnav1-desktop: 1rem;
    /* Taille text */
    --text-desktop:1.125rem; 
    --text-tablet:1rem; 
    --text-mobile:0.9375rem; 
    /* Couleur text */
    --white-25: hsl(0 0% 100%);
    --purple-25: hsl(231 77% 90%);
    --gray-25: rgba(255, 255, 255, 0.5);
}


/* =================== */
/* Backgrounds */
/* =================== */
.bg_space {
    background-image: url('../images/accueil.jpg');
}

.bg_crew {
    background-image: url('../images/earth_space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg_crew::before,
.bg_planet::before {
    content: "";
    position: fixed; /* ou absolute si le body est en relative */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* assombrit */
    z-index: -1; /* derrière le contenu */
}

.bg_planet {
    background-image: url('../images/moon_space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg_tech {
    overflow: hidden;
}

.bg_tech::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../images/tech-space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transform: scaleX(-1); /* ⬅️ Inverse seulement le fond */
    z-index: -1; /* Met en arrière-plan */
    filter: brightness(0.5);    /* assombrit */
}

/* =================== */
/* Header et messages */
/* =================== */
.header {
    /* background-color: rgb(42, 139, 219); */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p_mess {
    color: cadetblue;
    width: auto;
    height: auto;
}

/* =================== */
/* Classes utilitaires custom */
/* =================== */
@layer utilities {
  .after-empty::after {
    content: "";
  }
}
